project:
  type: website

website:
  title: "Bob's Research"
  description: "A repository of research work."
  navbar:
    right:
      - text: "Home"
        href: index.qmd
      - text: "About"
        href: about.qmd
  output-dir: _site