/* Global Styles */
body {
    background: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.one-tab,
.two-tab {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

h1.two-tab {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

p.one-tab {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

a {
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 10px;
}

/* Container and Layout */
.container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ribbon {
    width: 100%;
    height: 60px;
    background-image: url('images/surfboard.png');
    background-repeat: repeat-x;
    background-position: top left;
    background-size: contain;
}

.main-content {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    flex-grow: 1;
}

.left-section {
    width: 50%;
    padding-right: 0;
    margin-top: 0;
}

.right-section {
    flex: 1; /* Allow the right section to take up the remaining space */
    padding-left: 0;
    text-align: right; /* Align content to the right */
    margin-bottom: 200px;
}

.right-image {
    width: 20%; /* Keep the image size at 20% of the container's width */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 0; /* Ensure no margin is pushing the image away from the edge */
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 0;
}

.main-content {
    padding-left: 0;
    padding-right: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .right-image {
        width: 50%;
        margin: 10px auto;
    }
}

/* Publications List */
ul.one-tab {
    list-style-type: none;
    padding: 0;
}

ul.one-tab li {
    margin-bottom: 15px;
}

ul.one-tab a {
    font-weight: bold;
}
