body {
    background: aliceblue;
}

.one-tab {
    text-indent: 20px; 
}

.two-tab {
    text-indent: 40px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 50%;
}

.rotated-image {
    transform: rotate(45deg);
    width: 75%; /* 3/4 of the page */
    height: calc(7.5%); /* 1/10 of the original width-based height */
    margin-bottom: 20px; /* Adds some space between the rotated image and the content below */
}

.bottom-image {
    width: 100%;
    height: auto;
    margin-top: 20px; /* Adds some space between the bottom image and the content above */
}

.pdf-frame {
    width: 100%;
    height: 600px; /* Adjust height as needed */
    border: none;
}