body {
    background: aliceblue;
}

.one-tab {
    text-indent: 20px; 
}

.two-tab {
    text-indent: 40px; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 50%;
}

/* Making the top image significantly smaller */
.rotated-image {
    transform: rotate(45deg);
    width: 5%; /* 5% of the container's width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Adds some space between the rotated image and the content below */
}

/* Replacing the PDF with IMG_0569.bmp */
.middle-image {
    width: 90%; /* 90% of the container's width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adds some space above the image */
    margin-bottom: 20px; /* Adds some space below the image */
}

/* Making the bottom image smaller */
.bottom-image {
    width: 10%; /* 10% of the container's width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adds some space between the bottom image and the content above */
}